#site_content
  .gallery
    %ul.images
      %li.show
        %img{:alt => "photo_one", :height => "300", :src => "/assets/1.jpg", :width => "950"}/
      %li
        %img{:alt => "seascape", :height => "300", :src => "/assets/2.jpg", :width => "950"}/
      %li
        %img{:alt => "seascape", :height => "300", :src => "/assets/3.jpg", :width => "950"}/
  #sidebar_container
    .sidebar
      %h3 Latest News
      %h4 Facebook apps for Virtue Info family will be available on
      %h5 December 1st, 2012
      %p
        2012 sees the redesign of our website. Take a look around and let us know what you think.
        %br/
        %a{:href => "#"} Read more
    .sidebar
      %h3 Useful Links
      %ul
        %li
          %a{:href => "javascript:void(0)"} First Link
        %li
          %a{:href => "javascript:void(0)"} Another Link
        %li
          %a{:href => "javascript:void(0)"} And Another
        %li
          %a{:href => "javascript:void(0)"} One More
        %li
          %a{:href => "javascript:void(0)"} Last One
  .content
    - unless current_vi_employee_authentication.present?
      %h3
        = flash[:notice]
      %h1 Welcome to the Virtue-Info Web Apps
      %p
        #{t 'home.viinfo-message'}
    - else
      %h3
        = flash[:notice]
      - auth = current_vi_employee_authentication.authentication
      - if auth
        %h5{:style => 'color:white'}
          #{t 'home.connected_message'}
        - if @today_birthday.present?
          %h4
            #{t 'home.list_of_friends_heading'}
          = render :partial => 'birthday_list',:locals => {:friends => @today_birthday,:flag => 'today_birthday'}
        - else
          %h4
            Hi
            = "#{@me["first_name"]},"
            %br
            %div{:style => 'margin-left:30%;'}
              #{t 'home.no_one_birthday_message'}
            %br
        - if @nxt_upcoming_birthdays.present?
          %h4
            #{t 'home.list_of_upcoming_heading'}
          = render :partial => 'birthday_list',:locals => {:friends => @nxt_upcoming_birthdays,:flag => 'upcoming_birthday'}
        - else
          %h4
            %div{:style => 'margin-left:30%;'}
              #{t 'home.no_upcoming_birthday_heading'}
      - else
        %p
          if you want to use automated birthday wishing for facebook friends. Please connect with facebook app.
          Click On Use FB APP at top menu.
